
<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.titlefoot | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">

          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}" target="_blank" >
                Contact
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>


      <div class="col-sm text-right">
        <p><a href="http://faculty.pku.edu.cn/li/en" target="_blank" >{{- site.description | escape -}}</a></p>
      </div>

    </div>

  </div>
</div>
